body {
    margin: 0;
    padding: 0;
    background: darkcyan;
}
#start-form{
    text-align: center;
}

.cards {
    border-radius: 0.2vw;
    height: 7.7vw;
    width: 20vw;

    margin-left: 1vw;
    margin-right: 1vw;
}
#shown-cards{
    padding-top: 20vh;
}

.layer{
    display: flex;
    justify-content: center;
}

.first{
z-index: 0;
 }
.second{
    z-index: 1;
    margin-top: -6vw;
}
.third{
    z-index: 2;
    margin-top: -6vw;
}
.fourth{
    z-index: 3;
    margin-top: -6vw;
}

.first > DIV{

    border: 0.04em solid white;
}

#guess-field{
    padding-top: 3vw;
}

#guess-field > BUTTON{
    margin-left: 1vw;
    margin-right: 1vw;
    width: 20vw;
    height: 4vw;
}
BUTTON{
    border: 2px solid whitesmoke;
    border-radius: 4px;
    background-color: darkblue;
    color:whitesmoke;
}

BUTTON:hover{
    background-color: whitesmoke;
    color: darkblue;
    border: none;
}


#output{
    text-align: center;
}

#btn-start{
    width: 144px;
    height: 4vw;
}
